/* General style */
body {
	--background-color: #202020;
	--embed-color: #272727;
	--text-color: #ffffff;
	--border-radius: 5px;
	margin: 0;
	font-family: sans-serif;
	color: var(--text-color);
	background-color: var(--background-color);
}
header {
	background-color: #0052a3;
	padding: 1rem 13% 0 13%;
	border-radius: 0 0 1rem 1rem;
}
a {
	text-decoration: none;
	color: inherit;
}
h2 {
	letter-spacing: 1px;
}

/* Header style */
.header {
	display: flex;
	align-items: center;
	font-size: 2rem;
}
.logo {
	height: 5rem;
	margin-right: 2rem;
}
.pages {
	list-style: none;
	display: flex;
	flex-direction: row;
	width: 100%;
	padding-left: 0;
	justify-content: space-around;
}
.pages > li {
	text-align: center;
	border-radius: var(--border-radius) var(--border-radius) 0 0;
}
.pages > li > span,
.pages > li > a,
.hiddenList > li > * {
	padding: 15px 25px;
	display: flex;
}
.pages > li:hover {
	background-color: rgba(0, 0, 0, 0.1);
}
.active {
	border-bottom: solid rgba(0, 0, 0, 0.5);
}
.pages .hiddenList {
	display: none;
	position: absolute;
	background-color: var(--embed-color);
	margin-top: 3px;
	list-style: none;
	text-align: left;
	padding-left: 0;
	padding-top: 12px;
	border-radius: var(--border-radius);
}
.pages .hiddenList::before {
	content: "";
	position: absolute;
	top: -6px;
	left: 1rem;
	width: 1rem;
	height: 1rem;
	border-radius: 4px;
	background-color: var(--embed-color);
	transform: rotate(45deg);
}
.pages .hiddenList > li:hover {
	background-color: rgba(0, 0, 0, 0.1);
}
li:hover > .hiddenList {
	display: block;
}

/* Orario classi */
.classHeader {
	margin-bottom: 2rem;
}
.chooseClass {
	margin: 0 10%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.classes {
	padding-left: 1rem;
}
.classes > li {
	padding: 5px 0 15px 0;
	cursor: pointer;
	width: fit-content;
}
.classes > li:hover {
	text-decoration: underline;
}
.chooseClass h3 {
	margin-left: 18px;
}
#table {
	height: fit-content;
	margin-top: 1rem;
	min-width: 75%;
}
#table * {
	padding: 1rem;
}
