/* Scrollbar style */
::-webkit-scrollbar {
	width: 15px;
}

::-webkit-scrollbar-thumb {
	background-clip: content-box;
	background-color: #9f9f9f;
	border-radius: 8px;
	border: 4px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #afafaf;
}

::-webkit-scrollbar-thumb:active {
	background-color: #bfbfbf;
}

/* General style */
* {
	box-sizing: border-box;
}

body {
	--background-color: #e0e0e0;
	--embed-color: #d9d9d9;
	--text-color: #000000;
	--brand-color: #0052a3;
	background-color: var(--background-color);
	color: var(--text-color);
	font-family: sans-serif;
	margin: 0;
	min-height: 100%;
	padding-bottom: 1rem;
}

a {
	color: inherit;
	text-decoration: none;
}

h2 {
	letter-spacing: 1px;
}

footer {
	align-items: center;
	background-color: var(--brand-color);
	bottom: -1px;
	color: #e0e0e0;
	display: flex;
	justify-content: center;
	padding: 1rem;
	position: fixed;
	text-align: center;
	text-wrap: balance;
	width: 100%;
	user-select: none;
}

table {
	table-layout: fixed;
	text-align: center;
}

table tr:first-child > th {
	vertical-align: bottom;
}

table tr th:first-child {
	text-align: right;
}

table td,
table th {
	border-radius: 4px;
	height: 4rem;
	padding: 1rem;
	white-space: pre-line;
}

th {
	user-select: none;
}

caption {
	font-size: 1.5rem;
	font-weight: bold;
	letter-spacing: 1.5px;
}

/* Header style */
.header {
	align-items: center;
	background-color: var(--brand-color);
	color: #e0e0e0;
	display: flex;
	font-size: 2rem;
	padding: 1rem 13%;
}

.logo {
	margin-right: 2rem;
}

.pages {
	background-color: var(--brand-color);
	border-radius: 0 0 1rem 1rem;
	color: #e0e0e0;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	list-style: none;
	margin-top: auto;
	padding-left: 0;
	position: sticky;
	top: -1px;
	user-select: none;
	width: 100%;
	z-index: 1;
}

.pages > li {
	align-items: center;
	border-radius: 5px 5px 0 0;
	display: flex;
	text-align: center;
}

.pages > li > span,
.pages > li > a,
.hiddenList > li > * {
	display: flex;
	padding: 15px 25px;
}

.pages > li:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

.active {
	border-bottom: solid rgba(0, 0, 0, 0.5);
}

.pages .hiddenList {
	background-color: var(--embed-color);
	border-radius: 5px;
	color: var(--text-color);
	display: none;
	list-style: none;
	padding-left: 0;
	padding-top: 12px;
	position: absolute;
	text-align: left;
	z-index: 3;
}

.pages .hiddenList::before {
	background-color: var(--embed-color);
	border-radius: 4px;
	content: "";
	height: 1rem;
	left: 1rem;
	position: absolute;
	top: -6px;
	transform: rotate(45deg);
	width: 1rem;
}

.pages .hiddenList > li:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

li:hover > .hiddenList,
li:active > .hiddenList {
	display: block;
}

/* Home page */
.container {
	margin: 50px;
	margin-top: 20px;
}

.title {
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-name: moveBackground;
	animation-timing-function: linear;
	background: linear-gradient(to right, #154586, #bec519, #154586);
	background-clip: text;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	background-size: 200%;
	color: transparent;
	font-family: "Crete Round";
	font-size: 3rem;
	font-weight: normal;
	margin-bottom: 4rem;
	text-align: center;
	text-wrap: balance;
}

.container > div {
	animation-duration: 3s;
	animation-fill-mode: forwards;
	animation-name: fadeIn;
	display: flex;
	margin: 2rem 0;
	opacity: 0;
}

.container > div:nth-child(even) {
	flex-direction: row;
}

.container > div:nth-child(odd) {
	flex-direction: row-reverse;
}

.container img {
	--image-size: 250px;
	animation-duration: 3s;
	animation-fill-mode: forwards;
	animation-name: borderFade;
	max-height: var(--image-size);
	max-width: var(--image-size);
	min-height: var(--image-size);
	min-width: var(--image-size);
	text-align: center;
	transition: ease-out 1s;
}

.container img:hover {
	transform: scale(1.2);
}

.container span {
	font-size: 2rem;
	line-height: 44px;
	margin: auto 2rem;
}

/* Orario */
.display {
	display: flex;
	flex-direction: row;
	margin: 3rem 0;
}

.classHeader {
	margin: 0 1rem 0 0;
	text-align: center;
	width: fit-content;
}

#chooser {
	display: flex;
	flex-direction: column;
	margin-left: 6%;
	min-width: fit-content;
	animation-duration: 1s;
	animation-name: showMenu;
}

#classList {
	height: 50vh;
	margin-top: 3rem;
	overflow: auto;
	padding-right: 1rem;
}

#classList h3 {
	background-color: var(--background-color);
	margin-block-end: 0;
	margin-block-start: 0;
	padding: 1rem 18px;
	position: sticky;
	top: calc(-1rem - 1px);
}

#classList h3:first-child {
	padding-top: 0;
	top: -1px;
}

#classList > ul {
	margin-block-end: 1rem;
	padding-left: 1rem;
}

#classList > ul > li {
	cursor: pointer;
	width: fit-content;
}

#classList > ul > li:not(:first-child) {
	margin-top: 20px;
}

#classList > ul > li:hover {
	text-decoration: underline;
}

#fullScreen {
	align-items: center;
	cursor: pointer;
	display: flex;
	height: 2rem;
	justify-content: center;
	margin-top: -0.13rem;
	position: absolute;
	right: calc(5% + 2rem);
}

#openMenu {
	align-items: center;
	cursor: pointer;
	display: none;
	height: 2rem;
	justify-content: center;
	margin-top: -0.13rem;
	position: absolute;
}

#table {
	border-spacing: 3px;
	display: none;
	margin: 0 auto auto auto;
	width: 100%;
	padding-right: 6%;
}

/* Rotazione telefono */
.rotate-banner {
	align-items: center;
	background-color: rgba(0, 0, 0);
	color: white;
	display: none;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	left: 0;
	padding: 10px;
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 999;
}

.rotate-banner p {
	font-size: 20px;
	margin: 0;
}

@keyframes borderFade {
	from {
		border-radius: 0;
	}

	to {
		border-radius: 50%;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
		padding-top: 10rem;
	}

	to {
		opacity: 1;
	}
}

@keyframes moveBackground {
	from {
		background-position-x: 200%;
	}

	to {
		background-position-x: 0%;
	}
}

@keyframes showMenu {
	from {
		margin: 0;
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@media (prefers-color-scheme: dark) {
	body {
		--background-color: #202020;
		--embed-color: #272727;
		--text-color: #ffffff;
	}
}

@media screen and (max-width: 1024px) {
	.active {
		border-bottom: none;
	}

	.classHeader {
		display: none;
	}

	.container {
		margin: 1rem;
		margin-bottom: min(10vh, 5rem);
	}

	.container > div {
		flex-direction: column !important;
	}

	.container > div > * {
		margin: 1rem auto;
	}

	.container img {
		--image-size: min(50vh, 16rem);
	}

	.container img:hover {
		transform: none;
	}

	.container span {
		font-size: 1.5rem;
		line-height: normal;
		text-align: center;
		text-wrap: balance;
	}

	.display {
		margin: 2rem 0;
	}

	.header {
		font-size: 1.5rem;
	}

	.title {
		font-size: 1.75rem;
		margin-bottom: 0;
	}

	#chooser {
		margin-left: 5%;
	}

	#classList {
		font-size: max(1.5vw, 12px);
		height: 55vh;
		min-width: 12vw;
	}

	#table {
		padding-right: 5%;
		border-spacing: 2px;
	}

	body {
		padding-bottom: 0;
	}

	table td,
	table th {
		font-size: max(1.5vw, 12px);
		height: min(3.2rem, 15vh);
		padding: 1vw;
	}

	@media (orientation: portrait) {
		.container img {
			--image-size: 50vw;
		}

		.rotate-banner {
			display: flex;
		}
	}

	@media screen and (max-height: 700px) {
		.logo {
			height: max(3rem, 8vh);
			width: calc(max(3rem, 8vh) * 100 / 80)
		}

		.pages {
			position: static;
		}

		#classList {
			height: 60vh;
		}

		footer {
			display: none;
			padding: 1.5vh;
		}
	}
}

@media screen and (max-width: 320px) {
	.container span {
		font-size: 1.25rem;
	}

	.header {
		font-size: 1rem;
	}

	.title {
		font-size: 1.5rem;
	}
}